body{
    font-family: Arial, Helvetica, sans-serif;padding: 20px;
}

h1{
    color: red
}

h2{
    color: red;
}

a{
    color: blue;
}

a:hover{
    text-decoration: underline;
}

img{
    width: 300px;
    border-radius: 10px;
}

.containter{
    max-width: 800px;
    margin: auto;
}

nav{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

section{
    margin-bottom: 40px;
}

#projects{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}

img{
    width: 200px;
    height: auto;
}
